.gradient-background {
  @apply relative z-10 before:absolute before:left-0 before:top-0 before:-z-10 before:h-[200%] before:w-full before:rounded-full;

  &:before {
    background: linear-gradient(180deg, #00e599 41.43%, rgba(0, 229, 153, 0) 71.43%);
    opacity: 0.5;
    filter: blur(22px);
  }
}
