.ticket-hover-aria {
  --percent: 50;
  --translateGap: 70;

  @apply relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: calc(var(--translateGap) * -1px);
    bottom: 0;
    left: calc(var(--translateGap) * -1px);

    @media screen(md) {
      display: none;
    }
  }

  @media (pointer: coarse) {
    pointer-events: none;
  }
}

.ticket-wrapper {
  --translate: calc(
    ((var(--percent) * (var(--translateGap) * 2 / 100)) - var(--translateGap)) * 1px
  );

  perspective: 100px;
  transform: translateX(var(--translate));
  will-change: transform;
  transition: transform 0.1s linear;
}

.ticket {
  --rotateBorderValue: 1.5;
  --rotate: calc(
    ((var(--percent) * (var(--rotateBorderValue) * 2 / 100)) - var(--rotateBorderValue)) * 1deg
  );
  --scale: calc(1 - max(1 - var(--percent) / 50, -1 * (1 - var(--percent) / 50)) / 20);

  @apply bg-transparent bg-no-repeat;

  transform: rotateY(var(--rotate)) scaleX(var(--scale));
  will-change: transform;
  transition: transform 0.1s linear;

  background-size: 395px 388px, 768px 378px, 420px 388px, 420px 388px;
  background-position: right center, center center, left center, right center;

  @media screen(md) {
    background-size: 320px 340px, 334px 680px, 388px 420px, 388px 420px;
    background-position: right top 250px, center center, center top -10px, center bottom -10px;
  }

  &.variant-1 {
    background-image: url('/images/developer-days-2/elephant-1.png'),
      url('/images/developer-days-2/ticket-pattern-1.svg'),
      url('/images/developer-days-2/ticket-plate-left.svg'),
      url('/images/developer-days-2/ticket-plate-right.svg');

    @media screen(md) {
      background-image: url('/images/developer-days-2/elephant-1-vertical.png'),
        url('/images/developer-days-2/ticket-pattern-1-vertical.svg'),
        url('/images/developer-days-2/ticket-plate-top.svg'),
        url('/images/developer-days-2/ticket-plate-bottom.svg');
    }
  }

  &.variant-2 {
    background-image: url('/images/developer-days-2/elephant-2.png'),
      url('/images/developer-days-2/ticket-pattern-2.svg'),
      url('/images/developer-days-2/ticket-plate-left.svg'),
      url('/images/developer-days-2/ticket-plate-right.svg');

    @media screen(md) {
      background-image: url('/images/developer-days-2/elephant-2-vertical.png'),
        url('/images/developer-days-2/ticket-pattern-2-vertical.svg'),
        url('/images/developer-days-2/ticket-plate-top.svg'),
        url('/images/developer-days-2/ticket-plate-bottom.svg');
    }
  }

  &.variant-3 {
    background-image: url('/images/developer-days-2/elephant-3.png'),
      url('/images/developer-days-2/ticket-pattern-3.svg'),
      url('/images/developer-days-2/ticket-plate-left.svg'),
      url('/images/developer-days-2/ticket-plate-right.svg');

    @media screen(md) {
      background-image: url('/images/developer-days-2/elephant-3-vertical.png'),
        url('/images/developer-days-2/ticket-pattern-3-vertical.svg'),
        url('/images/developer-days-2/ticket-plate-top.svg'),
        url('/images/developer-days-2/ticket-plate-bottom.svg');
    }
  }

  &.variant-4 {
    background-image: url('/images/developer-days-2/elephant-4.png'),
      url('/images/developer-days-2/ticket-pattern-4.svg'),
      url('/images/developer-days-2/ticket-plate-left.svg'),
      url('/images/developer-days-2/ticket-plate-right.svg');

    @media screen(md) {
      background-image: url('/images/developer-days-2/elephant-4-vertical.png'),
        url('/images/developer-days-2/ticket-pattern-4-vertical.svg'),
        url('/images/developer-days-2/ticket-plate-top.svg'),
        url('/images/developer-days-2/ticket-plate-bottom.svg');
    }
  }
}

.color-text-variant-1,
.color-text-variant-2,
.color-text-variant-3,
.color-text-variant-4 {
  @apply bg-clip-text text-transparent;

  min-height: 100px;
  font-family: 'Kallisto', 'Kallisto Fallback', sans-serif;
  font-weight: 300;
  line-height: 1;
  opacity: 0.9;
  text-shadow: 0 13.9157px 55.6627px rgba(0, 229, 153, 0.4);
}

.color-text-variant-1 {
  background-image: linear-gradient(215.67deg, #ffffff 41.51%, #66ffcc 79.11%);
}

.color-text-variant-2 {
  background-image: linear-gradient(215.67deg, #ffffff 41.51%, #e6ff66 79.11%);
}

.color-text-variant-3 {
  background-image: linear-gradient(215.67deg, #ffffff 41.51%, #ff99dd 79.11%);
}

.color-text-variant-4 {
  background-image: linear-gradient(215.67deg, #ffffff 41.51%, #ccccff 79.11%);
}

.t-sm {
  @apply text-sm;
}

.t-base {
  @apply text-base;

  @screen 2xl {
    font-size: 14px;
  }
}

.t-lg {
  @apply text-lg;

  @screen 2xl {
    font-size: 16px;
  }
}

.t-xl {
  @apply text-xl;

  @screen 2xl {
    font-size: 18px;
  }

  @screen xl {
    font-size: 16px;
  }
}

.t-2xl {
  @apply text-2xl;

  @screen 2xl {
    font-size: 20px;
  }

  @screen xl {
    font-size: 18px;
  }

  @screen md {
    font-size: 16px;
  }
}

.t-3xl {
  @apply text-3xl;

  @screen 2xl {
    font-size: 24px;
  }

  @screen xl {
    font-size: 20px;
  }

  @screen xs {
    font-size: 17px;
  }
}

.t-4xl {
  @apply text-4xl;

  @screen 2xl {
    font-size: 36px;
  }

  @screen xl {
    font-size: 32px;
  }

  @screen md {
    font-size: 28px;
  }
}

.t-5xl {
  @apply text-5xl;

  @screen 2xl {
    font-size: 40px;
  }

  @screen xl {
    font-size: 36px;
  }

  @screen md {
    font-size: 32px;
  }
}

.t-6xl {
  @apply text-6xl;

  @screen 2xl {
    font-size: 48px;
  }

  @screen xl {
    font-size: 40px;
  }

  @screen md {
    font-size: 36px;
  }
}

.t-7xl {
  @apply text-7xl;

  @screen 3xl {
    font-size: 72px;
  }

  @screen 2xl {
    font-size: 56px;
  }

  @screen xl {
    font-size: 48px;
  }

  @screen md {
    font-size: 36px;
  }
}

.t-8xl {
  @apply text-8xl;

  @screen 3xl {
    font-size: 88px;
  }

  @screen 2xl {
    font-size: 72px;
  }

  @screen xl {
    font-size: 64px;
  }

  @screen md {
    font-size: 42px;
  }
}
