@layer components {
  .ticket {
  }

  .ticket-hover-aria {
    --percent: 50;
    --flareGap: 100;
    --hoverGap: 250;

    @apply relative before:absolute before:z-20 after:absolute after:z-10;

    /* hover aria */
    &::before {
      top: calc(var(--hoverGap) * -1px);
      right: calc(var(--hoverGap) * -1px);
      bottom: calc(var(--hoverGap) * -1px);
      left: calc(var(--hoverGap) * -1px);
    }

    /* back flare */
    &::after {
      top: calc((var(--flareGap) / 2) * -1px);
      right: calc(((var(--flareGap) * 3) / 4) * -1px);
      bottom: calc((var(--flareGap) / 2) * -1px);
      left: calc(var(--flareGap) * -1px);

      .ticket-variant-1 & {
        background-image: radial-gradient(transparent 0%, #080808 72%),
          linear-gradient(225deg, #00d1ff 0%, rgba(51, 255, 187, 0.2) 100%);
      }
      .ticket-variant-2 & {
        background-image: radial-gradient(transparent 0%, #080808 72%),
          linear-gradient(225deg, rgba(51, 255, 187, 0.6) 0%, rgba(230, 255, 102, 0.4) 100%);
      }
      .ticket-variant-3 & {
        background-image: radial-gradient(transparent 0%, #080808 72%),
          linear-gradient(225deg, #7266ff 28.65%, #ff99dd 100%);
      }
      .ticket-variant-4 & {
        background-image: radial-gradient(transparent 0%, #080808 72%),
          linear-gradient(225deg, #ccccff 28.65%, rgba(204, 204, 255, 0.4) 100%);
      }
    }

    @media (pointer: coarse) {
      pointer-events: none;
    }
  }

  .ticket-wrapper {
    --translateDistance: 110;
    --translate: calc(
      ((var(--percent) * (var(--translateDistance) * 2 / 100)) - var(--translateDistance)) * 1px
    );

    perspective: 100px;
    transform: translateX(var(--translate));
    will-change: transform;
    transition: transform 0.1s linear;
  }

  .ticket-frame {
    --rotateAngle: 1;
    --rotate: calc(((var(--percent) * (var(--rotateAngle) * 2 / 100)) - var(--rotateAngle)) * 1deg);
    --scale: calc(1 - max(1 - var(--percent) / 50, -1 * (1 - var(--percent) / 50)) / 20);

    @apply bg-transparent bg-no-repeat;

    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image-slice: 1;

    transform: rotateY(var(--rotate)) scaleX(var(--scale));
    will-change: transform;
    transition: transform 0.1s linear;

    background-size: 550px 300px, 395px 388px, 768px 378px, 420px 388px, 420px 388px;
    background-position: left -150px top -190px, right center, right center, left center,
      right center;

    @media screen(md) {
      border-top: none;
      border-bottom: none;
      border-left: 1px solid;
      border-right: 1px solid;

      background-size: 300px 450px, 320px 340px, 334px 680px, 388px 420px, 388px 420px;
      background-position: left -170px top -150px, right top 250px, right center, center top -10px,
        center bottom -10px;
    }

    .ticket-variant-1 & {
      border-image-source: linear-gradient(90deg, #080808 5%, #00d1ff 50%, #080808 95%);

      background-image: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%),
        url('/images/developer-days-2/elephant-1.png'),
        url('/images/developer-days-2/ticket-pattern-1.svg'),
        url('/images/developer-days-2/ticket-plate-left.svg'),
        url('/images/developer-days-2/ticket-plate-right.svg');

      @media screen(md) {
        border-image-source: linear-gradient(180deg, #080808 5%, #00d1ff 50%, #080808 95%);

        background-image: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%),
          url('/images/developer-days-2/elephant-1-vertical.png'),
          url('/images/developer-days-2/ticket-pattern-1-vertical.svg'),
          url('/images/developer-days-2/ticket-plate-top.svg'),
          url('/images/developer-days-2/ticket-plate-bottom.svg');
      }
    }

    .ticket-variant-2 & {
      border-image-source: linear-gradient(90deg, #080808 5%, #33ffbb 50%, #080808 95%);

      background-image: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%),
        url('/images/developer-days-2/elephant-2.png'),
        url('/images/developer-days-2/ticket-pattern-2.svg'),
        url('/images/developer-days-2/ticket-plate-left.svg'),
        url('/images/developer-days-2/ticket-plate-right.svg');

      @media screen(md) {
        border-image-source: linear-gradient(180deg, #080808 5%, #33ffbb 50%, #080808 95%);

        background-image: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%),
          url('/images/developer-days-2/elephant-2-vertical.png'),
          url('/images/developer-days-2/ticket-pattern-2-vertical.svg'),
          url('/images/developer-days-2/ticket-plate-top.svg'),
          url('/images/developer-days-2/ticket-plate-bottom.svg');
      }
    }

    .ticket-variant-3 & {
      border-image-source: linear-gradient(90deg, #080808 5%, #7266ff 50%, #080808 95%);

      background-image: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%),
        url('/images/developer-days-2/elephant-3.png'),
        url('/images/developer-days-2/ticket-pattern-3.svg'),
        url('/images/developer-days-2/ticket-plate-left.svg'),
        url('/images/developer-days-2/ticket-plate-right.svg');

      @media screen(md) {
        border-image-source: linear-gradient(180deg, #080808 5%, #7266ff 50%, #080808 95%);

        background-image: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%),
          url('/images/developer-days-2/elephant-3-vertical.png'),
          url('/images/developer-days-2/ticket-pattern-3-vertical.svg'),
          url('/images/developer-days-2/ticket-plate-top.svg'),
          url('/images/developer-days-2/ticket-plate-bottom.svg');
      }
    }

    .ticket-variant-4 & {
      border-image-source: linear-gradient(90deg, #080808 5%, #ccccff 50%, #080808 95%);

      background-image: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%),
        url('/images/developer-days-2/elephant-4.png'),
        url('/images/developer-days-2/ticket-pattern-4.svg'),
        url('/images/developer-days-2/ticket-plate-left.svg'),
        url('/images/developer-days-2/ticket-plate-right.svg');

      @media screen(md) {
        border-image-source: linear-gradient(180deg, #080808 5%, #ccccff 50%, #080808 95%);

        background-image: radial-gradient(rgba(255, 255, 255, 0.25) 0%, transparent 70%),
          url('/images/developer-days-2/elephant-4-vertical.png'),
          url('/images/developer-days-2/ticket-pattern-4-vertical.svg'),
          url('/images/developer-days-2/ticket-plate-top.svg'),
          url('/images/developer-days-2/ticket-plate-bottom.svg');
      }
    }
  }

  .ticket-text {
    @apply bg-clip-text text-transparent;

    min-height: 100px;
    font-family: 'Kallisto', 'Kallisto Fallback', sans-serif;
    font-weight: 300;
    line-height: 1;
    opacity: 0.9;
    text-shadow: 0 13.9157px 55.6627px rgba(0, 229, 153, 0.4);

    .ticket-variant-1 & {
      background-image: linear-gradient(256deg, #ffffff 41.51%, #66ffcc 79.11%);
    }

    .ticket-variant-2 & {
      background-image: linear-gradient(256deg, #ffffff 41.51%, #e6ff66 79.11%);
    }

    .ticket-variant-3 & {
      background-image: linear-gradient(256deg, #ffffff 41.51%, #ff99dd 79.11%);
    }

    .ticket-variant-4 & {
      background-image: linear-gradient(256deg, #ffffff 41.51%, #ccccff 79.11%);
    }
  }

  .flare {
    .ticket-variant-1 & {
      background-image: linear-gradient(
        106deg,
        transparent 30%,
        rgba(51, 255, 187, 0.8) 60%,
        transparent 60%
      );
    }

    .ticket-variant-2 & {
      background-image: linear-gradient(
        106deg,
        transparent 30%,
        rgba(189, 244, 113, 0.8) 60%,
        transparent 60%
      );
    }

    .ticket-variant-3 & {
      background-image: linear-gradient(
        106deg,
        transparent 30%,
        rgba(255, 153, 221, 0.8) 60%,
        transparent 60%
      );
    }

    .ticket-variant-4 & {
      background-image: linear-gradient(
        106deg,
        transparent 30%,
        rgba(204, 204, 255, 0.8) 60%,
        transparent 60%
      );
    }
  }
}
