@layer components {
  .ticket {
    --delta-x: 0;
    /* TODO: set up hover areas for each screen */
    --hover-gap-x: 100;
    --hover-gap-y: 0;

    --width: 790px;
    --height: 388px;

    --duration: 0.3s;

    @apply relative z-0 before:pointer-events-none before:absolute before:-inset-x-20 before:-inset-y-24 before:z-10 after:absolute after:z-20 md:before:-inset-y-20 md:before:-inset-x-24;

    perspective: 200px;

    width: var(--width);
    height: var(--height);

    @media screen(2xl) {
      --width: 776px;
      --height: 380px;
    }

    @media screen(lg) {
      --width: 670px;
      --height: 330px;
    }

    @media screen(md) {
      --width: 334px;
      --height: 700px;
    }

    /* ticket back flare */
    &::before {
      background-image: radial-gradient(transparent 0%, theme(colors.black) 72%),
        linear-gradient(225deg, #00d1ff 0%, rgba(51, 255, 187, 0.2) 100%);
    }

    /* ticket hover aria */
    &::after {
      top: calc(var(--hover-gap-y) * -1px);
      right: calc(var(--hover-gap-x) * -1px);
      bottom: calc(var(--hover-gap-y) * -1px);
      left: calc(var(--hover-gap-x) * -1px);
    }

    @media (pointer: coarse) {
      pointer-events: none;
    }
  }

  .ticket-back {
    --translate-distance: 110;
    --translate: calc((var(--delta-x) * var(--translate-distance) / 100) * 1px);
    --rotate-angle: 2;
    --rotate: calc((var(--delta-x) * var(--rotate-angle) / 100) * 1deg);
    --background-distance: 30;
    --background-distance-in-px: calc(var(--width) * var(--background-distance) / 100);
    --background-x: calc(var(--delta-x) * var(--background-distance-in-px) / 100);

    @apply relative z-30 h-full w-full bg-black bg-no-repeat px-[1px] py-[1px];

    transform: translateX(var(--translate)) rotateY(var(--rotate));
    transition: background-position var(--duration) linear, transform var(--duration) linear;
    will-change: transform;

    background-size: 100%, var(--width) var(--height);
    background-position: center, left var(--background-x) top 0;

    clip-path: path(
      'M0 22C0 9.84974 9.84976 0 22 0H768C780.15 0 790 9.84974 790 22V118.268C790 124.466 787.385 130.377 782.799 134.547L753.201 161.453C748.615 165.623 746 171.534 746 177.732V210.268C746 216.466 748.615 222.377 753.201 226.547L782.799 253.453C787.385 257.623 790 263.534 790 269.732V366C790 378.15 780.15 388 768 388H22C9.84974 388 0 378.15 0 366V269.732C0 263.534 2.61477 257.623 7.2012 253.453L36.7988 226.547C41.3852 222.377 44 216.466 44 210.268V177.732C44 171.534 41.3852 165.623 36.7988 161.453L7.2012 134.547C2.61476 130.377 0 124.466 0 118.268V22Z'
    );

    @media screen(2xl) {
      clip-path: path(
        'M0 21.5464C0 9.64665 9.6752 0 21.6101 0L754.39 0C766.325 0 776 9.64665 776 21.5464V115.829C776 121.9 773.432 127.689 768.926 131.772L739.853 158.125C735.348 162.208 732.78 167.997 732.78 174.068V205.932C732.78 212.003 735.348 217.792 739.853 221.875L768.926 248.228C773.432 252.311 776 258.1 776 264.171V358.454C776 370.353 766.325 380 754.39 380H21.6101C9.67518 380 0 370.353 0 358.454L0 264.171C0 258.1 2.56843 252.311 7.07359 248.228L36.1467 221.875C40.6518 217.792 43.2203 212.003 43.2203 205.932V174.068C43.2203 167.997 40.6518 162.208 36.1467 158.125L7.07358 131.772C2.56842 127.689 0 121.9 0 115.829L0 21.5464Z'
      );
    }

    @media screen(lg) {
      clip-path: path(
        'M0 18.7113C0 8.37735 8.35359 0 18.6582 0H651.342C661.646 0 670 8.37735 670 18.7113V100.589C670 105.86 667.782 110.888 663.893 114.434L638.791 137.319C634.901 140.865 632.684 145.892 632.684 151.164V178.836C632.684 184.108 634.901 189.135 638.791 192.681L663.893 215.566C667.782 219.112 670 224.14 670 229.411V311.289C670 321.623 661.646 330 651.342 330H18.6582C8.35357 330 0 321.623 0 311.289V229.411C0 224.14 2.21759 219.112 6.10735 215.566L31.2091 192.681C35.0989 189.135 37.3165 184.108 37.3165 178.836V151.164C37.3165 145.892 35.0989 140.865 31.2091 137.319L6.10735 114.434C2.21758 110.888 0 105.86 0 100.589V18.7113Z'
      );
    }

    @media screen(md) {
      clip-path: path(
        'M18.9381 700C8.4789 700 0 691.272 0 680.506L0 19.4937C0 8.7276 8.4789 -1.90735e-05 18.9381 -1.90735e-05H101.808C107.144 -1.90735e-05 112.232 2.31683 115.821 6.38077L138.983 32.6065C142.572 36.6705 147.66 38.9873 152.996 38.9873H181.004C186.34 38.9873 191.428 36.6705 195.017 32.6065L218.179 6.38077C221.768 2.31683 226.856 -1.90735e-05 232.192 -1.90735e-05H315.062C325.521 -1.90735e-05 334 8.7276 334 19.4937L334 680.506C334 691.272 325.521 700 315.062 700H232.192C226.856 700 221.768 697.683 218.179 693.619L195.017 667.393C191.428 663.33 186.34 661.013 181.004 661.013H152.996C147.66 661.013 142.572 663.33 138.983 667.393L115.821 693.619C112.232 697.683 107.144 700 101.808 700H18.9381Z'
      );
    }
  }

  .ticket-middle {
    @apply h-full w-full bg-black bg-center bg-no-repeat;

    clip-path: path(
      'M0 21.8866C0 9.79896 9.82482 0 21.9443 0H766.056C778.175 0 788 9.79896 788 21.8866V117.658C788 123.825 785.392 129.705 780.817 133.853L751.294 160.621C746.72 164.769 744.111 170.65 744.111 176.816V209.184C744.111 215.35 746.72 221.231 751.294 225.379L780.817 252.147C785.392 256.295 788 262.175 788 268.342V364.113C788 376.201 778.175 386 766.056 386H21.9443C9.8248 386 0 376.201 0 364.113V268.342C0 262.175 2.60815 256.295 7.18297 252.147L36.7056 225.379C41.2805 221.231 43.8886 215.35 43.8886 209.184V176.816C43.8886 170.65 41.2805 164.769 36.7056 160.621L7.18297 133.853C2.60814 129.705 0 123.825 0 117.658V21.8866Z'
    );

    @media screen(2xl) {
      clip-path: path(
        'M0 21.433C0 9.59588 9.65027 0 21.5544 0L752.446 0C764.35 0 774 9.59588 774 21.433V115.22C774 121.258 771.438 127.017 766.945 131.079L737.946 157.292C733.453 161.354 730.891 167.113 730.891 173.151V204.849C730.891 210.887 733.453 216.646 737.946 220.708L766.945 246.921C771.438 250.983 774 256.742 774 262.78V356.567C774 368.404 764.35 378 752.446 378H21.5544C9.65025 378 0 368.404 0 356.567L0 262.78C0 256.742 2.56181 250.983 7.05536 246.921L36.0535 220.708C40.5471 216.646 43.1089 210.887 43.1089 204.849V173.151C43.1089 167.113 40.5471 161.354 36.0535 157.292L7.05535 131.079C2.56181 127.017 0 121.258 0 115.22L0 21.433Z'
      );
    }

    @media screen(lg) {
      clip-path: path(
        'M0 18.5979C0 8.32658 8.32865 0 18.6025 0H649.397C659.671 0 668 8.32658 668 18.5979V99.979C668 105.219 665.789 110.216 661.911 113.74L636.884 136.486C633.006 140.011 630.795 145.008 630.795 150.248V177.752C630.795 182.992 633.006 187.989 636.884 191.514L661.911 214.26C665.789 217.784 668 222.781 668 228.021V309.402C668 319.673 659.671 328 649.397 328H18.6025C8.32864 328 0 319.673 0 309.402V228.021C0 222.781 2.21097 217.784 6.08912 214.26L31.1159 191.514C34.9941 187.989 37.2051 182.992 37.2051 177.752V150.248C37.2051 145.008 34.9941 140.011 31.1159 136.486L6.08912 113.74C2.21096 110.216 0 105.219 0 99.979V18.5979Z'
      );
    }

    @media screen(md) {
      clip-path: path(
        'M18.8247 698C8.42812 698 0 689.297 0 678.562L0 19.438C0 8.70266 8.42812 -1.74046e-05 18.8247 -1.74046e-05H101.198C106.502 -1.74046e-05 111.56 2.31022 115.127 6.36254L138.151 32.5134C141.719 36.5657 146.776 38.8759 152.08 38.8759H179.92C185.224 38.8759 190.281 36.5657 193.849 32.5134L216.873 6.36254C220.44 2.31022 225.498 -1.74046e-05 230.802 -1.74046e-05H313.175C323.572 -1.74046e-05 332 8.70266 332 19.438L332 678.562C332 689.297 323.572 698 313.175 698H230.802C225.498 698 220.44 695.69 216.873 691.637L193.849 665.487C190.281 661.434 185.224 659.124 179.92 659.124H152.08C146.776 659.124 141.719 661.434 138.151 665.487L115.127 691.637C111.56 695.69 106.502 698 101.198 698H18.8247Z'
      );
    }
  }

  .ticket-front {
    @apply relative h-full w-full bg-no-repeat md:before:absolute md:before:right-0 md:before:bottom-[36px] md:before:h-[300px] md:before:w-[200px] md:before:bg-gradient-to-t md:before:from-black md:before:to-transparent;

    background-size: 440px 372px;
    background-position: right 0 bottom 0;

    @media screen(2xl) {
      background-size: 436px 362px;
    }

    @media screen(lg) {
      background-size: 348px 293px;
    }

    @media screen(md) {
      background-size: 312px 454px;
      background-position: right 0 bottom 30px;
    }

    &.ticket-front-variant-1 {
      background-image: url('/developer-days/images/developer-days/elephant-1-large.png');

      @media screen(lg) {
        background-image: url('/developer-days/images/developer-days/elephant-1-medium.png');
      }

      @media screen(md) {
        background-image: url('/developer-days/images/developer-days/elephant-1-small.png');
      }
    }

    &.ticket-front-variant-2 {
      background-image: url('/developer-days/images/developer-days/elephant-2-large.png');

      @media screen(lg) {
        background-image: url('/developer-days/images/developer-days/elephant-2-medium.png');
      }

      @media screen(md) {
        background-image: url('/developer-days/images/developer-days/elephant-4-small.png');
      }
    }

    &.ticket-front-variant-3 {
      background-image: url('/developer-days/images/developer-days/elephant-3-large.png');

      @media screen(lg) {
        background-image: url('/developer-days/images/developer-days/elephant-3-medium.png');
      }

      @media screen(md) {
        background-image: url('/developer-days/images/developer-days/elephant-4-small.png');
      }
    }

    &.ticket-front-variant-4 {
      background-image: url('/developer-days/images/developer-days/elephant-4-large.png');

      @media screen(lg) {
        background-image: url('/developer-days/images/developer-days/elephant-4-medium.png');
      }

      @media screen(md) {
        background-image: url('/developer-days/images/developer-days/elephant-4-small.png');
      }
    }
  }

  .ticket-content {
    --flash-width: 530px;
    --flash-height: 250px;
    --flash-x: calc((var(--width) - var(--flash-width)) / 2);
    --flash-y: calc(var(--flash-height) / -2);
    --flash-distance: 50;
    --flash-distance-in-px: calc(var(--width) * var(--flash-distance) / 100);
    --flash-delta-x: calc(var(--delta-x) * var(--flash-distance-in-px) / 100);

    @apply relative h-full w-full bg-no-repeat;

    transition: background-position var(--duration) linear;

    background-size: var(--flash-width) var(--flash-height);
    background-image: radial-gradient(rgb(255 255 255 / 0.2) 0%, transparent 72%);
    background-position: left calc(var(--flash-x) + var(--flash-delta-x)) top var(--flash-y);
  }
}
